/* NAV BAR */

nav.collapsed {
    transform: translate(-50%, calc(-100% - 22px)) !important;
}

nav.collapsible {
    transition: 0.3s ease-in-out;
}

nav.become-normal-nav {
    transition: var(--become-normal-nav-duration) ease-in-out;
}

nav.lengthen-nav {
    transition: var(--lengthen-nav-duration) ease-in-out;
}

nav {
    /* position */
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform-origin: 0 0;
    transform: scale(22) translate(-50%, -50%);

    /* align */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* dimension */
    width: var(--nav-height);
    height: var(--nav-height);

    /* appearance */
    background: var(--black2);
    backdrop-filter: blur(10px);

    /* Border */
    border-radius: 1px;
    border: 1px solid transparent;
    box-shadow:
        inset 0px 2px 2px 0px transparent,
        inset 0px 0.5px 0px 0px transparent,
        0px 4px 4px 0px transparent;

    padding: var(--nav-padding);

    #nav-logo {
        /* align */
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: max-content;

        margin: 10px;
        border-radius: 4px;
        color: white;

        #nav-logo-text {
            text-wrap-mode: nowrap;
            max-width: 0;
            opacity: 0;
            display: flex;
            font-size: 22px;
            font-weight: 300;
            vertical-align: middle;
            transform: translateY(2px);
            animation: nav-item-appear 0.5s calc(var(--logo-animation-time) * 8 + var(--logo-navify-time)) forwards ease;

        }

        #nav-logo-image {
            position: relative;
            width: calc(120px * var(--logo-scale));
            height: calc(120px * var(--logo-scale));
            background: var(--x);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-self: flex-start;


            .logo-up-stroke {
                height: 0;
                width: calc(20px * var(--logo-scale));
                z-index: 2;
                border-radius: 0.2px;
                animation-name: up-stroke;
                animation-duration: var(--logo-animation-time);
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                animation-timing-function: cubic-bezier(0.2, 0, 1, 0.2);
                align-self: flex-end;

                &:nth-of-type(1) {
                    background: var(--a);
                    animation-delay: calc(var(--logo-animation-time) * 2);
                }

                &:nth-of-type(3) {
                    background: var(--b);
                    animation-delay: calc(var(--logo-animation-time) * 4);
                }

                &:nth-of-type(5) {
                    background: var(--c);
                    animation-delay: calc(var(--logo-animation-time) * 6);
                }
            }

            .logo-slant-stroke {
                transform: skewX(14.036deg) translate(calc(0px * var(--logo-scale)), -100%);
                height: calc(120px * var(--logo-scale));
                width: calc(15px * var(--logo-scale));
                z-index: 1;
                left: 0px;
                border-radius: 0.2px;
                align-self: flex-start;
                animation-name: slant-stroke;
                animation-duration: var(--logo-animation-time);
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                animation-timing-function: cubic-bezier(0, 0.2, 0.2, 1);

                &:nth-of-type(2) {
                    background: var(--a2);
                    animation-delay: calc(var(--logo-animation-time) * 3);
                }

                &:nth-of-type(4) {
                    background: var(--b2);
                    animation-delay: calc(var(--logo-animation-time) * 5);
                }

                &:nth-of-type(6) {
                    background: var(--c2);
                    animation-delay: calc(var(--logo-animation-time) * 7);
                }
            }


            .logo-corner-triangle {
                transform: translateY(calc(-60px * var(--logo-scale)));
                transform-origin: top right;
                position: absolute;
                height: calc(60px * var(--logo-scale));
                right: 0;
                opacity: 0;
                animation: appear var(--logo-animation-time) calc(var(--logo-animation-time) * 7) forwards ease;
            }
        }
    }

    ol#nav-links {
        text-wrap-mode: nowrap;
        max-width: 0;
        opacity: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: 300;
        font-size: 22px;
        gap: 40px;
        animation: nav-item-appear 0.5s calc(var(--logo-animation-time) * 8 + var(--logo-navify-time)) forwards ease;

        li {
            transform: translateY(2px);
        }
    }

    ol#nav-socials {
        max-width: 0;
        opacity: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: max-content;
        gap: 20px;
        animation: nav-item-appear 0.5s calc(var(--logo-animation-time) * 8 + var(--logo-navify-time)) forwards ease;

        li {
            width: max-content;
            text-align: center;
        }
    }
}

/* MAIN CONTENT */

main {
    transform: translateY(0vh);
    counter-reset: section 0;
}

section {
    width: 100vw;
    background: var(--black1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
/* 
section.numbered-section {
    margin: 80px 0 80px 0;
} */

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 1;
    font-size: 2em;
    padding: 40px;
    width: 100%;

    margin: 80px 0 80px 0;

    .left-title-gradient,
    .right-title-gradient {
        flex: 1;
        height: 1.6px;
        border-radius: 2px;
        content: '';
        display: flex;
        flex-direction: row;

        top: 50%;
        left: 50%;
        z-index: -1;
    }

    .left-title-gradient {
        background: var(--transparent-gradient);
    }

    .right-title-gradient {
        background: var(--transparent-gradient-rv);
    }

    .title-text {
        --section-title-spacing: 1px;
        --horizontal-padding: 20px;

        font-family: 'Josefin Sans', 'Fira Code', monospace;
        text-transform: uppercase;
        letter-spacing: var(--section-title-spacing);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: max-content;
        padding: 20px calc(var(--horizontal-padding) - var(--section-title-spacing)) 15px var(--horizontal-padding);
        border: 1px solid var(--b);
        border-radius: 5px;
        background: var(--black2);
        color: white;
        font-weight: bolder;
        text-align: center;
        transition: 0.5s;
        box-shadow: 
        -40px 0px 160px 0px var(--a),
        0px 0px 60px 0px var(--a),
        40px 0px 160px 0px var(--a)
        ;
        z-index: -1;
    }

    .left-title-gradient {
        width: 40%;
    }
}


.content {
    max-width: 1000px;
}

@media (width < 1080px) {
    .content {
        padding: 0 100px 0 100px;
        width: calc(100% - 200px);
    }
}

/* Hero section */

#hero {
    --bg-scale: 0.9;
    --hor-grids: 21;
    --ver-grids: 5;

    margin-top: calc(var(--nav-height) + var(--nav-vertical-margin) * 6);
    width: 100vw;
    height: calc(100vh - var(--nav-height) - var(--nav-vertical-margin) * 6 - 100px);
    justify-content: flex-start;
    min-height: 500px;

    #hero-intro {
        width: 100vw;
        height: calc(100vw / (var(--hor-grids) / var(--ver-grids)) * var(--bg-scale));
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #grid-bg-wrapper {
            width: 100vw;
            height: calc(100vw / (var(--hor-grids) / var(--ver-grids)) * var(--bg-scale));
            position: absolute;

            :first-child, :last-child {
                position: absolute;
                height: 100%;
                width: calc(2px + 100% * var(--bg-scale) * 7 / var(--hor-grids));
                z-index: 1;
            }

            .left-fade {
                background: linear-gradient(to right, var(--black1) 0%, transparent 100%);
                left: calc(5% - 2px);
            }

            .right-fade {
                background: linear-gradient(to left, var(--black1) 0%, transparent 100%);
                right: calc(5% - 2px);
            }

            #grid-bg {
                user-select: none;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
            }
        }

        #hero-content {
            width: 60vw;
            height: 100%;
            z-index: 1;
            padding: 20px;

            display: flex;
            flex-direction: row;


            #hero-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;

                .inline-text {
                    font-size: 24px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .normal-text {
                        height: 54px;
                        padding: 10px;

                        .my-name {
                            font-size: 48px;
                            font-weight: bold;
                        }
                    }

                    #role-switcher {
                        position: relative;
                        height: 54px;
                        width: 300px;

                        .role-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            gap: 20px;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            border-radius: 5px;

                            .role-gradient {
                                font-size: 24px;
                                width: 100%;
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                }

            }

            #hero-image {
                box-sizing: border-box;
                float: left;
                position: relative;
                overflow: hidden;
                border-radius: 5px;
                border-width: 2px;
                border-style: solid;
                border-color: var(--b);

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
    }
}

/* Projects section */



#projects {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .project-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            align-items: center;

            padding: 20px 0px 20px 0px;

            >* {
                width: 260px;
            }

            .project-image-wrapper {
                height: 200px;

                .project-image {
                    object-fit: contain;
                    width: 100%;
                    height: 200px;
                }
            }

            .project-skills {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                gap: calc(64px / 8);
                margin: 30px 0px 30px 0px;

                i {
                    flex: 0 1 auto;
                    font-size: 24px;
                    width: 24px;
                    max-width: 24px;
                }

                hr {
                    margin: 8px 0px 8px 2px;
                    flex-grow: 1;
                    height: 1.6px;
                    border-radius: 2px;
                    background: var(--colorful-gradient);
                    border: none;
                }
            }

            .project-name-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 20px;

                .project-name {
                    text-wrap-mode: wrap;
                    flex: 1;
                    padding-right: 10px;
                }

                .project-links {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        display: grid;
                        place-items: center;

                        svg {
                            width: 20px;
                            height: 20px;
                        }

                    }

                }
            }
        }
    }
}

/* SKILL SECTION */

#skills {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        .skill-group-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 40px;

            width: 100%;

            &:nth-child(2n) {
                flex-direction: row;

                .skill-group-skills {
                    flex-direction: row-reverse;
                }
            }
            
            .skill-group-title {
                font-weight: 600;
                margin: 24px 0px 0px 0px;
                color: var(--a);
                font-size: 72px;
            }
    
            .skill-group-skills {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                gap: 10px;
                flex: 1;
            }
        }

    }
}


/* Footer */

footer {
    background: var(--colorful-gradient);
    height: max-content;
    padding: 20px 0 20px 0;
    margin: 120px 40px 40px 40px;
    border-radius: 10px;
    color: var(--black2);
}

footer>p {
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-family: 'Josefin Slab', 'Fira Code', monospace;
    font-size: 20px;
    font-weight: 600;
}